* {
    margin: 0;
    padding: 0;
}

header {
    height: 180px;
    background-image: url("https://media.istockphoto.com/vectors/background-with-household-appliances-vector-id495379675");
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    height: 40px;
    background-color: #e4e2ff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.bg {
    background-color: #fff8f6;
}

.logo {
    width: 150px;
    height: 150px;
    border: 3px solid #841245;
    margin: 25px;
}

.nav-menu {
    text-transform: uppercase;
    color: #341d3d;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    float: right;
}

.nav-menu > li > a:hover {
    color: red;
}

.menu-link {
    margin-right: 50px;
}

.no-line {
    text-decoration: none;
}

.no-marker {
    list-style-type: none;
}

.name-shop {
    color: #590a5f;
    font-size: 35px;
    font-weight: 1000;
}

.wellcom {
    color: #841173;
    font-size: 25px;
    font-weight: 700;
}

.copy {
    color: black;
    font-size: 14px;
    font-weight: 700;
    font-style: italic;
    display: flex;
    margin: 4px 15px 0 10px;
}

.name-catalog {
    font-size: 1.8rem;
    margin: 15px 5px 10px 35px;

}

.main-catalog {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.nav-product {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
}

.product {
    width: 400px;
    height: 420px;
    margin: 15px;
}

.text-name-product {
    font-style: oblique;
    font-size: large;
}

.row {
    display: flex;
}

.border-img {
    width: 400px;
    height: 350px;
    outline: 4px solid #590a5f;
    display: flex;
}

.border-in-product {
    width: 450px;
    height: 450px;
    outline: 4px solid #590a5f;
    display: flex;
}

.border-img:hover {
    outline-color: transparent;
}

.text-product {
    padding: 30px;

}

.bay {
    width: 200px;
    height: 80px;
    font-style: italic;
    font-size: larger;
    color: #590a5f;
    position: absolute;
    margin: 20px 10px;
    background-color: #ffc3be;
    padding: 3px 0 3px 7px;
    border-radius: 30px;
}

.bay:hover {
    background-color: #fc5550;
}

.bay:active {
    background-color: #fc4139;
}

.indent {
    margin-top: 20px;
    position: relative;
}

table {
    width: 100%;
    height: 300px;
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
}

.first-letter:first-letter {
    color: #5a2263;
    font-size: larger;
}

.first-line {
    height: 50px;
    background-color: #e4e2ff;
}


.header-2 {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: rgba(226, 224, 254, 0.76);
    padding: 3px 0 3px 7px;
    border-radius: 3px;
}

.header-3 {
    color: black;
    font-size: 16px;
    font-weight: 400;
    background-color: #eaeaea;
}

.shot-description {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.long-description {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.specifications {
    color: #707070;
    font-size: 14px;
    font-style: normal;
    line-height: 17px;
    list-style-image: url(http://snar-e.com/snar-e/snar-e/forum/images/misc/sticky.gif);
}

.function {
    color: #707070;
    font-size: 14px;
    font-style: normal;
    line-height: 17px;
}

.name-field {
    color: black;
    font-size: 15px;
    font-weight: normal;
    text-align: left;
}

.shot-field,
.shot-field-mail {
    width: 200px;
    height: 25px;
    text-align: left;
    font-style: italic;
    font-size: 15px;
    text-transform: capitalize;
}

.shot-field {
    color: #707070;
}

.shot-field-mail:focus {
    color: blue;
    background-color: #fff6fe;
}

.header-contacts {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.address {
    color: black;
    font-size: 14px;
    font-weight: normal;
}

.map {
    width: 100%;
    height: 374px;
}

.container {
    width: 100%;
    margin: 0 auto;
}
